a:link{
	color: grey;
}
a:visited{
	color: green;
}
a:hover{
	font-size: 1.2rem;
	background-color: black;
	color: white;
}
a:active{
	color: red;
}
/*mais pseudo-clases de estado:
	:enabled
	:required
	:checked
	:focus*/

/*pseudo clases de posicion*/

ul li:first-child{
	color: blue;
}
ul li:last-child{
	color: red;
}
ul li:nth-child(3){ /*terceiro elemento*/
	color: green;
}
ol li:nth-child(odd){
	color: #911
}
ol li:nth-child(even){
	color: red;
}
ol li:nth-child(5){
	font-weight: bold;
}
ol li:nth-child(4n+1){
	text-decoration: underline;
}
/*pseudo elementos*/
/*se recomenda escribir con :: en lugar de con : */
li::first-letter{
	text-transform: uppercase;
	font-size: 1.1rem;
}
/*outros first-line, before, after*/
li::after{
	content:'*';
}
